@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}
  


@font-face {
  font-family: "VisueltPro";
  src: url('../../public/assets/fonts/VisueltPro-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "VisueltPro";
  src: url('../../public/assets/fonts/VisueltPro-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "VisueltPro";
  src: url('../../public/assets/fonts/VisueltPro-Bold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "VisueltPro";
  src: url('../../public/assets/fonts/VisueltPro-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "VisueltPro";
  src: url('../../public/assets/fonts/VisueltPro-Black.ttf');
  font-weight: 800;
  font-style: normal;
}

:root {
  --background: theme("colors.white");
  --background-secondary: theme("colors.gray.50");

  --accent-dark: #F79301;
  --accent-medium: #F79301;
  --accent-light: #F79301;

  --primary-dark: #15B2FF;
  --primary-medium: #15B2FF;
  --primary-light: #15B2FF;

  ---dark: theme("colors.neutral.900");
  ---medium: theme("colors.neutral.700");
  ---light: theme("colors.neutral.500");

  --container-surface: rgb(248 248 248);
  --container-on-surface: rgb(224 224 224);
  --container-on-background: theme("colors.black");

  --textbox-fill: rgb(255 255 255);

  --button-: rgb(0 0 0);
  --button--hover: rgb(113 113 113);

  --text-lighter: rgb(82 82 82);
  --text-light: rgb(147 147 147);
  --text-medium: rgb(129 129 129);
  --text-dark: rgb(160 160 160);
}

input:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: var(--stroke-primary);
}

body {
  font-family: 'VisueltPro';
  font-weight: 300;
}

.bold {
  font-family: "VisueltPro";
  font-weight: 600;
}

.medium {
  font-family: "VisueltPro";
  font-weight: 400;
}

.regular {
  font-family: "VisueltPro";
  font-weight: 300;
}

.black {
  font-family: "VisueltPro";
  font-weight: 800;
}